body {
	background-color: rgb(0,26,87);
}
	
#mainBackground {
	background-color: rgb(255,255,255);
	height: 800px;
	width: 600px;
	
}

#siteLinks {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#horizontalBarLink {
	display: inline;
}
